.popup__item_el_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding-bottom: 10px;
    padding-top: 25px;
}

@media screen and (max-width: 600px) {
    .popup__item_el_text {
        padding-top: 29px;
    }
}