.header__border-bottom {
    min-height: 41px;
    border-bottom: 1px solid #545454;
    opacity: 0.7;
}

@media screen and (max-width: 330px) {
    .header__border-bottom {
        min-height: 31.6px;
    }
}